@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(313deg, #FAE0BA 45.14%, #FFF 98.69%);
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.bgcolor{
  background: linear-gradient(170deg, #EF7708 1.8%, #EF0808 85.98%);
  clip-path: polygon(51% 0, 100% 0, 100% 100%, 27% 100%);

}
.bgcolor2{
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.20) 1.8%, rgba(239, 8, 8, 0.20) 85.98%);
  backdrop-filter: blur(2px);
  clip-path: polygon(75% 0, 94% 0, 77% 53%, 57% 50%);
}
.bgcolor3{
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.20) 50.8%, rgba(239, 8, 8, 0.20) 85.98%);

  backdrop-filter: blur(2px);
  clip-path: polygon(40% 35%, 63% 36%, 45% 100%, 20% 100%);

}
.stick{
  height: 600px;
}

.buttoneffect{
  position: relative;
  /* display: inline-block; */
  /* margin: 15px; */
  padding: 8px;
  text-align: center;
  /* font-size: 18px; */
  /* letter-spacing: 1px; */
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #d8d8d8;
}

.buttoneffect:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #EF7708;
}

.buttoneffect:active {
  transform: scale(0.9);
}